<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>793231606892-8el394ftpugf0sbrm12k91mu9kdj4cb0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.793231606892-8el394ftpugf0sbrm12k91mu9kdj4cb0</string>
	<key>API_KEY</key>
	<string>AIzaSyAfgxwZstGbKxMD9c22WkBc_KBnzWJAP7k</string>
	<key>GCM_SENDER_ID</key>
	<string>793231606892</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.timeMachine</string>
	<key>PROJECT_ID</key>
	<string>time-machine-sirius</string>
	<key>STORAGE_BUCKET</key>
	<string>time-machine-sirius.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:793231606892:ios:2af5a8520fd8ade65d8449</string>
</dict>
</plist>